# NODE_ENV=development
# PORT=5000
# APP_BASE_URL=http://localhost:5000

# DATABASE_URL=""
# JWT_ACCESS_SECRET=""
# JWT_REFRESH_SECRET=""
# JWT_ACCESS_EXPIRES=15m
# JWT_REFRESH_EXPIRES=7d

# # Mail Credentials
# # Email Service (SMTP)
# SMTP_HOST=
# SMTP_PORT=
# SMTP_USER=
# SMTP_PASS=

# # Email Sender
# MAIL_FROM=

# #Gemini API for the window matcher
# GEMINI_API_KEY=